body { background-color: #ffffff; color: #24292e; }
h1, h2 { border-bottom-color: #eaecef; }
code { background-color: #f6f8fa; color: #24292e; }
pre { background-color: #f6f8fa; }
blockquote { border-left-color: #dfe2e5; color: #6a737d; }
hr { background-color: #e1e4e8; }
table th, table td { border-color: #dfe2e5; }
a { color: #0366d6; }
a.wiki-link { color: #0a8a0a; }
